.main {
    padding: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row {
    width: 100%;
    margin-top: 2rem;
}

.col {
    margin-top: 2rem;
}

.card {
    height: 18rem;
}

.card-body {
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}

.coktailImage {
    width: 50%;
}
